@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  min-height: 500vh;
  background-color: #0e0e0e;
  animation: body 1s linear;
}
.firstSection{
    position: sticky;
    top: 0;
    text-align: center;
    padding-top: 50px;
    z-index: 10;
    color: #4EC9B0;
}

/* Logo */
.hn_Logo{
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #4EC9B0;
}
.hn_Logo > h1{
  font-size: 17px;
}
.hn-Logo > img {
  width: 5px;
  height: 5px;
}
/* Nav */
.nav_menu{
  grid-column:2/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.nav_menu > ul{
  display: flex;
  gap: 30px;
}
.nav_menu > ul > li {
  list-style: none;
  border-left: 1px solid #4EC9B0;
  border-right: 1px solid #4EC9B0;
  padding: 0 8px;
}
.nav_menu > ul > li > a {
  font-size: 20px;
  color: #4EC9B0;
  transition: 0.3s liner;
  position: relative;
}
.nav_menu > ul > li > a.activeNH{
  background-color: #1d4940;
  color: #4EC9B0;
  padding: 3px 10px;
  font-weight: 600;
}
.nav_menu > ul > li > a:hover {
  border-bottom: 1px solid #4EC9B0;
  padding: 3px 10px;
}
/* @keyframes body {
  to {
    background-color: #4EC9B0;
  }
}
  */
.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: #4EC9B0;
    width: 100%;
  }
}

.cube-wrap {
  --size: 30vmin;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  perspective: 100vmin;
}
.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  animation: cube 1s linear;
}
@keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

.side {
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: calc(var(--size) * -0.5);
    left: calc(var(--size) * -0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    backface-visibility: visible;
    overflow: hidden;
}
.side img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top {
    background-color: #fff;
    transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
}
.bottom{
    background-color: #999;
    transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
}
.left {
    background-color: #ccc;
    transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
}
.right {
    background-color: #ddd;
    transform: rotateY(90deg) translateZ(calc(var(--size) * -.5));
}
.front {
    background-color: #aaa;
    transform: translateZ(calc(var(--size) * .5));
}
.back {
    background-color: #bbb;
    transform: translateZ(calc(var(--size) * -.5)) scaleX(-1);
}

:root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.fsSMCon{
  position: sticky;
  display: flex;
  gap: 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-linkedin {
  background: #76abae;
  color: white;
}
.fa-twitter {
  background: #76abae;
  color: white;
}
.fsSMCon > a{
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #eeeeee;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.fsSMCon > a:hover{
  border: 2px solid #eeeeee;
  box-shadow: 4px 4px #eeeeee;
  background-color: #222831;
}
/* UNO page CSS */
.UNOFSection{
  text-align: center;
  color: #4EC9B0;
  padding: 35px;
}
.topTitle{
  font-size: 1.5rem;
  padding: 150px;
}
.dataPics img{
  width: 50%;
  height: 75%;
  padding-top: 150px;
  margin-left: 25px;
  margin-right: 25px;
}
.SsText {
  padding-top: 125px;
  display: flex;
  justify-content: center;
  position: relative;
}
.bigDescription{
  padding: 5px;
  height: 325px;
  width: 850px;
  color: #eeeeee;
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #000000;
  line-height: 1.5;
  overflow: hidden;
}
.medDescription{
  padding: 5px;
  height: 225px;
  width: 775px;
  color: #eeeeee;
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #000000;
  line-height: 1.5;
  overflow: hidden;
}
.smallDescription{
  padding: 5px;
  height: 100px;
  width: 775px;
  color: #000000;
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #000000;
  line-height: 1.5;
  overflow: hidden;
}
.UTxt >p{
  color: #44aa96;
  font-size: 1.1rem;
}
